*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
.codeintel
bin
build
develop-eggs
coverage
downloads
eggs
fake-eggs
parts
dist
bower_components
.installed.cfg
.mr.developer.cfg
var
.hg
.bzr
.svn
*.pyc
*.pyo
*-ck.js
etc/**/*
src/plone.app.blocks
src/plone.app.contenttypes
src/plone.app.tiles
src/plone.tiles
src/ade25.*
src/vwc.*
src/sauna.reload
src/watchdog