[buildout]
extensions =
	mr.developer

show-picked-versions = true

extends =
	http://dist.plone.org/release/4.3.3/versions.cfg
	versions.cfg

find-links =
	http://dist.ade25.de/public

versions = versions
unzip = true

[eggs]
main =
    ade25.banner
    ade25.panelpage
    ade25.toolbar
	 walter.sitetheme
	 newport.sitecontent

addon =
  Plone
	Pillow
  Products.PasswordStrength
  collective.emaillogin4
	plone.app.caching
	plone.app.contenttypes
	wildcard.foldercontents
	collective.plonetruegallery
	collective.prettyphoto
	plone.app.widgets[archetypes, dexterity]

test =
	example.sitetheme [test]

devtools =
	bpython
	plone.reload
	sauna.reload
	Products.PDBDebugMode
	Products.PrintingMailHost
	Products.DocFinderTab

[sources]
walter.sitetheme			= fs walter.sitetheme
newport.sitecontent			= fs newport.sitecontent

# Additional checkouts
ade25.banner            = git git@github.com:ade25/ade25.banner.git
ade25.toolbar 			= git git@github.com:ade25/ade25.toolbar.git
ade25.typekit 			= git git@github.com:ade25/ade25.typekit.git
ade25.fabfiles          = git git@github.com:ade25/ade25.fabfiles.git
ade25.panelpage         = git git@github.com:ade25/ade25.panelpage.git
sauna.reload 			= git https://github.com/epeli/sauna.reload.git
