<div class="app-brandbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-lg-8">
                <a class="app-brand" href="/">
                    <div class="app-sign">a</div>
                    <span class="h3 app-brandname">App Brandname</span>
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <p class="h5 app-brand-claim">
                    Brand specific claim or info
                </p>
            </div>
        </div>
    </div>
</div>